<div class="row">
    <div class="col">
        <h1>*ngIf</h1>
        <hr />
        <div *ngIf="showCard" class="card text-white bg-info mb-3" style="max-width: 100%;">
            <div class="card-body">
                <h5 class="card-title">{{ phrase.author }}</h5>
                <p class="card-text">{{ phrase.message }}</p>
            </div>
        </div>

        <button (click)=" showCard = !showCard " class="btn btn-outline-info btn-block">
            show / hide
        </button>
    </div>
    <div class="col">
        <h1>*ngFor</h1>
        <hr />
        <ul class="list-group">
            <li *ngFor="let heroe of heroes; let i = index" class="list-group-item">
               {{ i + 1 }}-  {{ heroe }}
            </li>
        </ul>
    </div>
</div>